#
# Plugins
#

#zmodule agkozak/zsh-z
zmodule Aloxaf/fzf-tab
zmodule wfxr/forgit

#
# Modules
#

zmodule environment
zmodule input
zmodule utility
zmodule termtitle
zmodule fzf

#
# Completion
#

zmodule zsh-users/zsh-completions --fpath src
zmodule completion

#
# Modules that must be initialized last
#

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions

