#
# Plugins
#

#zmodule ohmyzsh/ohmyzsh --source oh-my-zsh.sh
#zmodule ohmyzsh/ohmyzsh --source plugins/git/git.plugin.zsh
#zmodule ohmyzsh/ohmyzsh --source plugins/npm/npm.plugin.zsh
#zmodule ohmyzsh/ohmyzsh --source plugins/docker/docker.plugin.zsh
#zmodule ohmyzsh/ohmyzsh --source plugins/docker-compose/docker-compose.plugin.zsh
#zmodule ohmyzsh/ohmyzsh --source plugins/command-not-found/command-not-found.plugin.zsh
#zmodule ohmyzsh/ohmyzsh --source plugins/direnv/direnv.plugin.zsh

#zmodule sorin-ionescu/prezto --source init.zsh
#zmodule sorin-ionescu/prezto --source modules/command-not-found/init.zsh

zmodule agkozak/zsh-z

#
# Modules
#

zmodule environment
zmodule input
zmodule utility
zmodule termtitle

#
# Completion
#

#zmodule zsh-users/zsh-completions --fpath src
zmodule completion

#
# Modules that must be initialized last
#

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions

